:root{
  --colorPrincipal:#4A90E2;
  --colorTexto:#383333;
  --colorFondo:#ccddf0;
  --colorSecundario:#2348eb;
  --blanco:#fff;
  --negro:#000;
  --colorSombra:#acacac;
  --fuentePrincipal:sans-serif;
  --fuenteCursiva: 'Courier New', Courier, monospace;
}